:root{
  --BACKGROUND_PRIMARY: '#121212';
  --BACKGROUND_SECONDARY: '#181818';
  --BACKGROUND_CARD: '#1E1E1E';
  --BORDER_COLOR: '#2A2A2A';
  --TEXT_PRIMARY: '#FFFFFF';
  --TEXT_SECONDARY: '#B0B0B0';
  --TEXT_TERTIARY: '#6C6C6C';
  --ACCENT: '#BB86FC';
  --SUCCESS: '#4CAF50';
  --WARNING: '#FF9800';
  --ERROR: '#F44336';
}


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #FFFFFF;
 
}